@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
body {
    background: #000;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
    overflow: hidden;
}

.neon {
    font-family: 'Londrina Outline';
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 0.15em;
    flex-grow: 1;
    }
    .neon-pink {
        text-shadow: 
        0 0 5px #e76f51,
        0 0 10px #e76f51,
        0 0 20px #e76f51,
        0 0 40px #e76f51,
        0 0 80px #e76f51,
        0 0 90px #e76f51,
        0 0 100px #e76f51,
        0 0 150px #e76f51;
    }
    .neon-blue {
        text-shadow: 
        0 0 5px #3fa7d6,
        0 0 10px #3fa7d6,
        0 0 20px #3fa7d6,
        0 0 40px #3fa7d6,
        0 0 80px #3fa7d6,
        0 0 90px #3fa7d6,
        0 0 100px #3fa7d6,
        0 0 150px #3fa7d6;
    }
    .neon-green {
        text-shadow: 
        0 0 5px #59cd90,
        0 0 10px #59cd90,
        0 0 20px #59cd90,
        0 0 40px #59cd90,
        0 0 80px #59cd90,
        0 0 90px #59cd90,
        0 0 100px #59cd90,
        0 0 150px #59cd90;
    }

.showcase {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.3;
    margin:  0 0 4em;
}

.project {
    display: block;
    width: 100%;
    text-decoration: none;
    margin: 1em 0;
    cursor: pointer;
}

.figure {
    margin: 0;
    padding: 0;
}

.project .figure iframe {
    width: 100%;
    display: block;
    height: 300px;
}

.project .caption {
    padding: 1em;
    color: #fff;
}

.project h3 {
    color: #fff;
    margin: 0;
}

.cta {
    margin: .5em 0;
}

.cta i {
    margin: 0 0 .5em .5em;
}

.loader {
    z-index: 999;
    display: flex;
    position: fixed;
    left: 49%;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
    opacity: 0;
}

.loader.show{
    opacity: 1;
}

.circle{
 background-color: #f6511d;
 width: 10px;
 height: 10px;
 border-radius: 50%;
 margin: 5px;
 animation: bounce 0.8s ease-in infinite;
}

.circle:nth-of-type(2){
    animation-delay: .1s;
    background-color: #ffb400;
}

.circle:nth-of-type(3){
    animation-delay: .2s;
    background-color: #00a6ed;
}

@keyframes bounce {
    0%,100%
     {
         transform: translateY(0);        
    }

    50%{
        transform: translateY(-10px);
    }
}

@media screen and (min-width:960px) {
    .neon{
        font-size: 8em;
    }
    .wrapper {
        max-width: 960px;
        margin: 0 auto;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1em;
    }

    .project {
        width: 100%; 
        height: 300px;
        text-decoration: none;
        margin: 0;
    }

    .project .figure {
        position: relative;
        overflow: hidden;
    }

    .project .figure iframe {
        position: relative;
        z-index: 100;
        transition: transform 0.4s;
    }

    .project .figure:hover iframe {
        transform: translateY(-90px) ;
    }

    .project .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px;
        height: 50px;
        width: 100%;
    }

    .project:nth-child(1){
        grid-column: 1 /span 3;
    }

    .span {
        grid-column: 1 / span 3;
    }
}
