.navbar {
    border-bottom: #000 3px solid;
}

#home-section {
    color: white;
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 450px;
}

#home-section .dark-overlay {
  
    width: 100%;
    min-height: 450px;
    background-color: rgba(0, 0, 0, 0.5);
}

#home-section .home-inner {
    padding-top: 150px;
}


.welcome{
    color: #ff5757;
}

.box{
    cursor: pointer;
}
.box:hover{
    color: turquoise;
    text-decoration-line: underline;
}

.profile{
    margin-top: 10px;
}
.profile .profile_avatar{
    width:100px;
    height: 100px;
    margin: 5px;
    border: 0;
    border-radius: 50%;
}

.profile .title{
    padding: 5px;
}


#footer{
    margin: 0;
    background: rgb(75, 75, 75);
    color: #fff;
    text-align: center;
}

#footer p {
    margin: 0;
}

.nav-pills .nav-link.active {
    background-color: #7daaff!important;
}

.nav-sidebar{
position: fixed;
height: 100%;
    background-color: rgb(75, 75, 75);
    padding:0px;
}